<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bin.xposed.Unblock163MusicClient">

    <application android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"
            tools:ignore="ManifestResource" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
