<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bin.xposed.Unblock163MusicClient">

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.SettingsActivityAlias"
            android:enabled="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"
            tools:ignore="ManifestResource" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>
